@page
@model Pokedex.Pages.PokemonModel
@{
    ViewData["Title"] = Model.Pokemon.Name;

}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="@Model.Pokemon.Sprites.front_default" alt="@Model.Pokemon.Name" class="img-fluid">
            <h2>@Model.Pokemon.Name.ToUpperInvariant()</h2>
            <h4>#@Model.Pokemon.Id.ToString("000")</h4>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3>Details</h3>
                </div>
                <div class="card-body">
                    <p><strong>Height:</strong> @(Model.Pokemon.Height / 10.0)m</p>
                    <p><strong>Weight:</strong> @(Model.Pokemon.Weight / 10.0)kg</p>
                    <p>
                        <strong>Types:</strong>
                        @foreach (var type in Model.Pokemon.Types.OrderBy(t => t.Slot))
                        {
                            <span class="badge bg-primary">@type.Type.Name</span>
                        }
                    </p>
                </div>
            </div>
            <a asp-page="Index" class="btn btn-secondary mt-3">Back to Pokédex</a>
        </div>
    </div>
</div>